body {
    color: #ffffff;
    font: 400 16px Calibri sans-serif;
}
.header {
    background: url(../img/header_bg.jpg) center top no-repeat;
    background-size: cover;
    height: 500px;
}
.logo-top {
    background: url(../img/Logo.png) right center no-repeat;
    background-size: contain;
    height: 76px;
    margin-top: 20px;
}
@media (max-width: 767px) {
  .logo-top {
    margin-top: 10;
  }
}